@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: #3f3f3f;
}

/* colors */
:root{

  --primary-1:#175873;  
  --primary-2:#2B7C85;
  --primary-3:#DFEDEA;

  --ui-black:#333333;
  --ui-dark-grey:#949494;
  --ui-grey:#c4c4c4;
  --ui-light-grey:#e9e9e9;
  --ui-white:#f9f9f9;

  --funky-pink:#F59FCB;
  --funky-green:#71E4D7;
  --funky-purple:#8889E3;
  --funky-orange:#FFB775;
  --funky-blue:#3EA1BF;
  --funky-red:#F7B5B5;
}

.primary-1{
  color: var(--primary-1);
}
.primary-2{
  color: var(--primary-2);
}
.primary-3{
  color:var(--primary-3);
}
.ui-black{
  color: var(--ui-black);
}
.ui-dark-grey{
  color:var(--ui-dark-grey);
}
.ui-grey{
  color: var(--ui-grey);
}
.ui-light-grey{
  color:var(--ui-light-grey);
}
/* headings */
/* h1 */
.start-heading{
text-transform: uppercase;
font-weight: 400;
}
.placeholder{
  color: var(--ui-grey);
}
.capital{
  text-transform: capitalize;
}

/* comp */
.button-filled{
  background-color: var(--primary-2) !important;
  color: var(--ui-white) !important;
  border: 3px solid var(--primary-2) !important;
  border-radius: 10px;
  padding: 0.75em 2.5em;
  text-transform: capitalize !important;
  width: 300px;
  margin: 0 auto;
  font-weight: 500;
}
.button-filled:hover,.button-filled:active,.button-filled:focus{
  background-color: var(--primary-1) !important;
  border: 3px solid var(--primary-1) !important;
}
.button-trans{
  background-color: transparent !important;
  border: 3px solid var(--primary-2) !important;
  color: var(--ui-white) !important;
  border-radius: 10px ;
  padding: 0.75em 2.5em;
  width: 300px;
  margin: 0 auto;
  color: var(--primary-2) !important;
  font-weight: 500;
}
.button-trans:hover,.button-trans:active,.button-trans:focus{
  border: 3px solid var(--primary-1) !important;
  color: var(--primary-1) !important;
}
a{
  text-decoration: none !important;
}
a:hover{
  color: currentColor !important;
}
.uppercase{
  text-transform: uppercase;
  font-weight: 300;
}